
.about {
background-color: $background-pink;

&__label {
font-size: 18px;
text-transform: uppercase; 
color: $footer-pink;

}

&__h2 {
    font-size: 34px;
    color: $dark-pink;
    text-transform: uppercase; 
}

&__p1 {
font-weight: 500;    
}

&__p2 {
   color: $grey; 
}

&__button {
background-color: white;
color: $dark-pink;
font-size: 14px;
font-weight:700;
width: 176px;
height: 44px;
border-radius: 22px;
border: none;
}
}