.advantages {
    background-color: $background-pink;
    padding: 20px;

        &_grid {
        display: grid;
        grid-template-columns: 1fr;
           
    }
    &__grid-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 38px;
        
              &:first-child::before {
        content: url("../images/Advantages/icon1@1x.png");
    }
     &:nth-child(2n)::before {
        content: url("../images/Advantages/icon2@1x.png");
    }

     &:nth-child(3n)::before {
        content: url("../images/Advantages/icon3@1x.png");
    }


    }
    &__h2 {
    display: none;   
    }
    &__h3 {
        font-family: $font;
        font-size:36px;
        font-weight: 400;
        color: $dark-pink;
         display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0;
    }

    &__p {
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;    
    font-weight: 700;
     color:black;
     max-width: 230px;
     text-align: center;

 
}


 }