.footer {
  margin-top: 100px;
  background: #fff5f6;
}

.footer__title1 {
  display: flex;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffa5ba;
}

.footer__title2 {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #d41443;
}

.footer__social-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 43px;
  gap: 28px;
}
.footer__social-link {
  fill: #fea5bb;
  stroke: #ffffff;
}
.footer__tel {
  margin-top: 46px;
  display: block;
  text-align: right;
}
.footer__last {
  height: 89px;
  margin-top: 43px;
  border-top: 1px solid #e1e1e1;
  position: relative;
}

.footer__last-element {
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  display: flex;
  display: block;
  text-align: center;
  justify-content: center;
  color: #907e82;
}
.footer__last {
  height: 89px;

  border-top: 1px solid #e1e1e1;
}

.footer__last-element {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;

  text-align: center;

  color: #907e82;
}
