.footer {
  // margin-top: 100px;
  background: $background-pink;
  width: 100%;

  margin: 78px auto 0;
  @media screen and (min-width: $tablet) {
    margin-top: 79px;
  }
  @media (min-width: $desktop) {
    padding-top: 300px;

    // ten margines jest dlatego że powyższa sekcja przykrywa footer
  }
}
.footer__title {
  @media screen and (min-width: $tablet) {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
}

.footer__title1 {
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding-left: 20px;
  color: $footer-pink;
  max-width: 250px;
  display: block;

  @media screen and (min-width: $tablet) {
    font-size: 26px;
    line-height: 30px;
  }

  @media (min-width: $desktop) {
    font-size: 26px;
    line-height: 30px;
    display: inline;
  }
}
.footer__title2 {
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  max-width: 100px;
  color: $dark-pink;
  display: block;
  margin-top: 17px;
  padding-left: 20px;

  @media screen and (min-width: $tablet) {
    font-size: 48px;
    line-height: 55px;
  }
  @media (min-width: $desktop) {
    max-width: 1280px;
    font-size: 58px;
    line-height: 66px;
  }
}

.footer__conteiner {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.footer__right-side {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
  }
}

.footer__social-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 43px;
  gap: 28px;
  padding-right: 20px;
  cursor: pointer;
  @media screen and (min-width: $tablet) {
    display: flex;
    margin-top: 0;
    cursor: pointer;
  }
  @media (min-width: $desktop) {
    cursor: pointer;
  }
}

// .footer__social-link {
//   fill: $footer-pink;
//   stroke: $white;

//   &:hover {
//     fill: $dark-pink;
//   }
// }

.footer__tel {
  margin-top: 46px;
  display: block;
  text-align: right;
  padding-right: 20px;

  @media screen and (min-width: $tablet) {
    margin-top: 20;
  }
  @media (min-width: $desktop) {
  }
}
.footer__tel-contact {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
  color: $black;

  @media (min-width: $tablet) {
    font-size: 14px;
  }
  @media (min-width: $desktop) {
    font-size: 16px;
  }
}
.footer__tel-number {
  font-family: 'DM Sans';

  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
  color: $dark-pink;
  @media (min-width: $tablet) {
    font-size: 14px;
  }
  @media (min-width: $desktop) {
    font-size: 16px;
  }
}

.footer__copyright {
  height: 89px;
  margin-top: 43px;
  border-top: 1px solid #e1e1e1;
  position: relative;
  @media (min-width: $tablet) {
    height: 70px;
  }
  @media (min-width: $desktop) {
    height: 45px;
  }
}

.footer__copyright-element1 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  display: flex;
  display: block;
  text-align: center;
  justify-content: center;
  color: #907e82;
  padding-top: 22px;
  @media (min-width: $tablet) {
    display: inline;
    justify-content: center;
  }
  @media (min-width: $desktop) {
    max-width: 1280px;
  }
}
.footer__copyright-element2 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  display: flex;
  display: block;
  text-align: center;
  justify-content: center;
  color: #907e82;
  @media (min-width: $tablet) {
    display: inline;
    justify-content: space-between;
    text-align: center;
  }
  @media (min-width: $desktop) {
    max-width: 1280px;
  }
}
.footer__copyright-box {
  display: inline;
  @media (min-width: $tablet) {
    position: absolute;
    top: 35%;
    left: 37%;
  }
  @media (min-width: $desktop) {
    max-width: 1280px;
    position: absolute;
    left: 37%;
  }
}
