
.header__container{
width: 100vw;
height: 61px;
background-color: $pink;
padding-left: 46px;
padding-right: 115px;
padding-top: 37px;
padding-bottom: 0;
display: flex;
align-items: center;
align-content: space-between;
  
}
.header__button{
width: 159px;
height: 44px;
background-color: rgba(255, 255, 255, 1);
border-radius: 22px;
color: rgba(212, 20, 67, 1);
font-weight: 700;
font-size: 16px;
line-height: 1.301;
border-style: none;
margin-left: 110px;
}
.header__navigation-list{
color:rgba(255, 255, 255, 1);
font-weight: 700;
font-size: 16px;
line-height: 1.301;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
column-gap: 35px;;

}

.header__nav-container{
margin: left 50px;;  
}
.header__logo-image{
  margin-right: 110px;
}
.header__icon-mobile-menu{
  stroke: rgba(212, 20, 67, 1);
}