
.header__container{
width: 100vw;
// height: 56px;
background-color: $pink;
padding-left: 20px;
padding-right: 101px;
padding-top: 6px;
padding-bottom: 0;
display: flex;
// column-gap: 10px;
align-items: center;
align-content: space-between;

position: relative;
z-index: 200;
@media  screen and (min-width:768px) {
  // margin-right: 110px;
  padding-top: 37px;
  padding-left: 34px;
  padding-right: 34;
  position: relative;
}

}
.header__button{
width: 159px;
height: 44px;
background-color: rgba(255, 255, 255, 1);
border-radius: 22px;
color: rgba(212, 20, 67, 1);
font-weight: 700;
font-size: 16px;
line-height: 1.301;
border-style: none;
// margin-left: 110px;

@media screen and (max-width:767px) {
  display: none;
  
}
@media screen and (min-width:768px) {
 position: absolute; 
 top:38px;
 right:34px;
  
}

}
.header__navigation-list{
  color:rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.301;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 35px;
  text-align:center;
  
@media screen and (max-width:1199px) {
  display: none;
  
}
}

.header__nav-container{
margin: left 50px;
// display: flex;  
}
.header__icon-mobile-menu{
  stroke: rgba(212, 20, 67, 1);
  

}

.header__logo-container{

width:199px;
height: 50px;
display:flex;
flex-direction: row;
align-items: center;
justify-content: space-between;

position: relative;
@media  screen and (min-width:1200px) {
  margin-right: 110px;
}

}
.header__button-mobile-menu{
  background-color: transparent;
  border: none;
  position: absolute;
  top:15px;
  right: 20px;
  cursor: pointer;
  @media screen and (min-width:768px) {
    position: absolute;
    top:52px;
    right: 224px;
  }
  @media screen and (min-width:1200px) {
    display: none;
  }
}
.header__logo-text{
  font-family: $font;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.145;
  color:$dark-pink;
  text-transform: uppercase;
   
  
}
.is-hidden{
  opacity:0;
  visibility: hidden;
  pointer-events: none;
}
.menu-mobile{
  width:250px;
  height: 502px;;
  position: fixed;

  z-index: 200;
  background-color: $modal-pink;
  margin:auto;
  top:0;
  left: 50%;
  transform:translateX(-50%);
  margin-left: auto;
  margin-right:auto;
  padding-bottom:171px;
  // padding-top: 60px;

}
.menu-mobile__list-link{
  color:$white;
  font-weight: 700;
  font-size:14px;
  line-height: 1.302;
}
.menu-mobile__list-item{
height: 42px;
width:250px;
border:1px solid #E18298;
padding-left: 24px;

}
.menu-mobile__list-item:nth-child(1){
padding-bottom:11px;
padding-top: 13px;
margin-top: 19px;
}
.menu-mobile__list-item:nth-child(2){
padding-bottom:12px ;
padding-top: 11px;
}
.menu-mobile__list-item:nth-child(3){
padding-bottom: 13px;
padding-top: 11px;
}
.menu-mobile__list-item:nth-child(4){
  padding-bottom: 13px;
  padding-top: 10px;
  }
.menu-mobile__list-item:nth-child(5){
  padding-bottom: 14px;
  padding-top: 10px;
  }
.header__button-mobile{
  width: 209px;
  height: 44px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 22px;
  color: rgba(212, 20, 67, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.301;
  border-style: none;
 
}  
.menu-mobile__button-container{
  padding-left: 21px;
  padding-top: 60px;
}


.menu-mobile__button-close-container{
width: 100%;
height:14px ;
position: relative;
;

}
.menu-mobile__button-close{
border:none;
background-color:transparent;
display: flex;
align-items: center;
justify-content: center;
margin-left: auto;
position: relative;


}
.menu-mobile__icon{
  stroke:$white;
  position: absolute; 
  top: 23px;
  right: 28px;
}

.header__button-mobile-icon{  

stroke: $dark-pink;
margin-left: 25.77px;
}
