
.header__container{
width: 100vw;
// height: 56px;
background-color: $pink;
padding-left: 46px;
padding-right: 115px;
padding-top: 6px;
padding-bottom: 0;
display: flex;
align-items: center;
align-content: space-between;
justify-content: space-between;
position: relative;
z-index: 200;
@media  screen and (min-width:1200px) {
  // margin-right: 110px;
  padding-top: 37px;
}

}
.header__button{
width: 159px;
height: 44px;
background-color: rgba(255, 255, 255, 1);
border-radius: 22px;
color: rgba(212, 20, 67, 1);
font-weight: 700;
font-size: 16px;
line-height: 1.301;
border-style: none;
// margin-left: 110px;

@media screen and (max-width:767px) {
  display: none;
  
}

}
.header__navigation-list{
  color:rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.301;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 35px;
  text-align:center;
  
@media screen and (max-width:1199px) {
  display: none;
  
}
}

.header__nav-container{
margin: left 50px;
// display: flex;  
}
.header__icon-mobile-menu{
  stroke: rgba(212, 20, 67, 1);
  

}

.header__logo-container{
padding-top: 6px;
width:199px;
height: 50px;
display:flex;
align-items: center;
justify-content: space-between;
position: relative;
@media  screen and (min-width:1200px) {
  margin-right: 110px;
}

}
.header__button-mobile-menu{
  background-color: transparent;
  border: none;
  position: absolute;
  top:15px;
  right: 20px;
  @media screen and (min-width:1200px) {
    display: none;
  }
}
.header__logo-text{
  font-family: $font;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.145;
  color:$dark-pink;
  text-transform: uppercase;
   
  
}
