.section {
  &--pink {
    background: $pink;
  }
}
.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  &--pink-header {
    padding-top: 137px;
    padding-bottom: 160px;
  }
}

.hero__title {
  font-family: Titan One;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $white;
  max-width: 218px;
  margin-top: 0;
  margin-bottom: 19px;
  &--big-red {
    font-weight: 400;
    font-size: 48px;
    line-height: 0.96;
    text-transform: uppercase;
    color: $dark-pink;
  }
}
.hero__link {
  color: $white;
  background: $dark-pink;
  text-decoration: none;
  border-radius: 20px;
  font-family: inherit;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  padding: 9px 14px;
  cursor: pointer;
}
.hero__link--white {
  color: $dark-pink;
  background: $white;
  &:hover,
  &:focus {
    background: $link-hover;
  }
}
.hero__button {
  color: $white;
  background: $dark-pink;
  border: none;
  border-radius: 20px;
  font-family: inherit;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  padding: 9px 14px;
  cursor: pointer;
}
.hero__button--white {
  color: $dark-pink;
  background: $white;
  &:hover,
  &:focus {
    background: $link-hover;
  }
}
.hero__nav {
  position: relative;
  z-index: 2;
}
.hero__img {
  display: block;
  position: absolute;
  right: 32px;
  top: 40px;
  z-index: 1;
}
.hero__background {
  display: block;
  position: absolute;
  top: 27px;
  right: 0;
  z-index: 0;
}
