.section {
  &--pink {
    background: $pink;
  }
}
.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  &--pink-header {
    padding-top: 137px;
    padding-bottom: 160px;
  }
}
.hero__nav {
  position: relative;
  z-index: 2;
}
.hero__title {
  font-family: $font;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $white;
  max-width: 218px;
  margin-top: 0;
  margin-bottom: 19px;
  &--big-red {
    font-weight: 400;
    font-size: 48px;
    line-height: 0.96;
    text-transform: uppercase;
    color: $dark-pink;
  }
}
.hero__link {
  color: $white;
  background: $dark-pink;
  text-decoration: none;
  border-radius: 20px;
  font-family: inherit;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  padding: 7px 14px;
  cursor: pointer;
}
.hero__link--white {
  color: $dark-pink;
  background: $white;
  &:hover,
  &:focus {
    background: $link-hover;
  }
}
.hero__button {
  color: $white;
  background: $dark-pink;
  border: none;
  border-radius: 20px;
  font-family: inherit;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  padding: 9px 14px;
  cursor: pointer;
}
.hero__button--white {
  color: $dark-pink;
  background: $white;
  &:hover,
  &:focus {
    background: $link-hover;
  }
}
.hero__footer {
  display: none;
}
.hero-foto__img {
  display: block;
  position: absolute;
  top: 32px;
  right: 32px;
  z-index: 1;
}
.hero-foto__img--background {
  top: 27px;
  right: 0;
  z-index: 0;
}
.hero-aside {
  display: none;
}
@media screen and (min-width: $tablet) {
  .container--pink-header {
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    padding-bottom: 0;
    padding-left: 34px;
    padding-right: 34px;
  }
  .hero {
    padding-bottom: 28px;
  }
  .hero__title {
    font-size: 22px;
    line-height: 1.13;
    max-width: 162px;
    margin-bottom: 20px;
  }
  .hero__title--big-red {
    font-size: 34px;
    line-height: 0.9;
  }
  .hero__footer {
    display: flex;
    align-items: flex-end;
    padding-top: 26px;
  }
  .hero__img {
    display: block;
  }
  .hero__text {
    position: relative;
    max-width: 114px;
    color: $white;
    font-family: inherit;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    bottom: 24px;
    &::after {
      content: '';
      position: absolute;
      width: 18px;
      height: 18px;
      opacity: 1;
      left: 0;
      bottom: -25px;
      background-image: url('../images/Products/arrow-right\ 1.png');
      background-position: center;
      background-size: cover;
    }
  }
  .hero-foto {
    position: relative;
  }
  .hero-foto__img {
    top: -35px;
    right: -110px;
  }
  .hero-foto__img--background {
    top: -68px;
    right: -216px;
  }
  .hero-aside {
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  .hero-aside__text--second {
    margin-bottom: auto;
  }
}
