.products {
  background-color: $white;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 98px;
  gap: 20px;

  &__head {
    display: flex;
    flex-direction: column;
    padding-bottom: 98px;
    margin: 0 auto;
  }
  &--natural {
    padding-top: 121px;
<<<<<<< Updated upstream
=======
     display: flex;
>>>>>>> Stashed changes
    justify-content: center;
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    align-content: center;
    color: $pink;
    margin: 0 auto;
  }
  &--offer {
    margin: 0 auto;
    padding-top: 15px;
    justify-content: center;
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $dark-pink;
  }

  &__item1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
<<<<<<< Updated upstream
    width: 280px;
=======
    width: 100%;
>>>>>>> Stashed changes
    height: 620px;
    background-image: url(../images/Products/products-icecream_mobile@1x.png),
      url(../images/Products/Rectangle_icecrem.png);
    background-repeat: no-repeat;
<<<<<<< Updated upstream
    background-position: center 0, center 113px;
  }
  &__item2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 280px;
=======
    background-size: 280px;
    background-position: center 0, CENTER 127px;
  }
  &__item2 {
display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
>>>>>>> Stashed changes
    height: 620px;
    background-image: url(../images/Products/products-coffee_mobile@1x.png),
      url(../images/Products/Rectangle_coffe.png);
    background-repeat: no-repeat;
<<<<<<< Updated upstream
    background-position: center 0, center 113px;
  }
  &__item3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 280px;
    height: 620px;
    background-image: url(../images/Products/products-milkshake_mobile@1x.png),
      url(../images/Products/Rectangle_milkshake.png);
    background-repeat: no-repeat;
    background-position: center 0, center 113px;
  }
  &__text-head {
    padding-top: 250px;
=======
    background-size: 280px;
    background-position: center 0, CENTER 127px;
  }
  &__item3 {
  display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 620px;
    background-image: url(../images/Products/products-milkshake_tablet@1x.png),
      url(../images/Products/Rectangle_milkshake.png);
    background-repeat: no-repeat;
    background-size: 280px;
    background-position: center 0, CENTER 127px;
  }
  &__text-head {
    padding-top: 290px;
>>>>>>> Stashed changes
    display: flex;
    justify-content: center;
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    color: $white;
  }
  &__text-body {
<<<<<<< Updated upstream
=======
    width: 200px;
    font-family: 'DM Sans';
>>>>>>> Stashed changes
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    text-align: center;
    letter-spacing: 0.04em;
<<<<<<< Updated upstream
    padding: 0 40px;
    color: $white;
    margin: 0 auto;
  }
}
.img {
  padding: 30px 0 40px 0;
  margin: 0 auto;
}
.icon {
  margin: 0 auto;
  fill: $white;
  padding: 25px 0;
=======

    color: $white;
    height: auto;
    margin: 0 auto;
  }

}
.img{
  margin: 0 auto;
  padding: 40px 0;
}
.icon{
  margin: 0 auto;
  fill: $white;
padding: 20px 0;
}
.box{
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .products{
max-width: 1199px;
/* margin: 0 auto; */
&__text-body {
  width: 200px;
  }
        &__item1 {
          width: 990px;
        }
    &__item2 {
      width: 990px;
    }
        &__item3 {
          width: 990px;
        }
.box {
  display: flex;
  flex-direction: row;
    max-width: 1100px;
    gap: 30px;
  }
  
}
@media screen and (min-width: 1280px) {
  .products {
    max-width: 1280px;
    padding: 0 120px;
    margin: 0 auto;
    gap: 30px;
    padding-bottom: 98px;
    &__text-head {
    padding: 260px 0 0 0;
    }
        &__text-body{
          width: 220px;
        }
  }

  .box {
    display: flex;
    flex-direction: row;
    max-width: 1280px;
    gap: 30px;
  }
}
>>>>>>> Stashed changes
}
