.products {
  background-color: $white;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 98px;

  &__head {
    display: flex;
    flex-direction: column;
    padding-bottom: 98px;
    margin: 0 auto;
  }
  &--natural {
    padding-top: 121px;
    justify-content: center;
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    align-content: center;
    color: $pink;
    margin: 0 auto;
  }
  &--offer {
    margin: 0 auto;
    padding-top: 15px;
    justify-content: center;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $dark-pink;
  }

  &__item1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 280px;
    height: 620px;
    background-image: url(../images/Products/products-icecream_mobile@1x.png), url(../images/Products/Rectangle_icecrem.png);
    background-repeat: no-repeat;
background-position: center 0, center 113px;
   
  }
  &__item2 {
    display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      width: 280px;
      height: 620px;
      background-image: url(../images/Products/products-coffee_mobile@1x.png), url(../images/Products/Rectangle_coffe.png);
      background-repeat: no-repeat;
      background-position: center 0, center 113px;
  }
  &__item3 {
    display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      width: 280px;
      height: 620px;
      background-image: url(../images/Products/products-milkshake_mobile@1x.png), url(../images/Products/Rectangle_milkshake.png);
      background-repeat: no-repeat;
      background-position: center 0, center 113px;
  }
  &__text-head {
    padding-top: 250px;
    display: flex;
    justify-content: center;
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    color: $white;
  }
  &__text-body {
    font-family: $font_DM;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    text-align: center;
    letter-spacing: 0.04em;
    padding: 0 40px;
    color: $white;
    margin: 0 auto;
  }
}
.img{
  padding: 30px 0 40px 0;
  margin: 0 auto;
}
.icon{
  margin: 0 auto;
  fill: $white;
  padding: 25px 0;
}