$white: #fff;
.products {
    background-color: $white;
    border: solid 1px black;
    width: 320px;
    height: 2141px;
    align-content:  center;
    /* display: block;
    flex-direction: column */;
 

  &__item {
   margin-top: 200px;
    background-color: $pink;
    padding: 250px 0;
    width: 250px;
    height: 350px;
    
  }
}
