* {
  margin: 0;
  padding: 0;
}
.products {
  background-color: $white;
  margin: 0 auto;
  padding-bottom: 98px;
  width: 100%;
  padding-top: 121px;

  &__head {
    padding-bottom: 98px;
    margin: 0 auto;
  }
  &--natural {
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    align-content: center;
    color: $pink;
    margin: 0 auto;
  }
  &--offer {
    margin: 0 auto;
    padding-top: 15px;
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $dark-pink;
  }

  &__item1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 620px;
    background-image: url(../images/Products/products-icecream_mobile@1x.png),
      url(../images/Products/Rectangle_icecrem.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/Products/products-icecream_mobile@2x.png'),
        url(../images/Products/Rectangle_icecrem.png);
    }
    background-repeat: no-repeat;
    background-size: 230px, 220px 485px;
    background-position: center 0, CENTER 105px;
  }
  &__item2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 620px;
    background-image: url(../images/Products/products-coffee_mobile@1x.png),
      url(../images/Products/Rectangle_coffe.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/Products/products-coffee_mobile@2x.png),
        url(../images/Products/Rectangle_coffe.png);
    }
    background-repeat: no-repeat;
    background-size: 230px, 220px 485px;
    background-position: center 0, CENTER 105px;
  }
  &__item3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 620px;
    background-image: url(../images/Products/products-milkshake_mobile@1x.png),
      url(../images/Products/Rectangle_milkshake.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/Products/products-milkshake_mobile@2x.png),
        url(../images/Products/Rectangle_milkshake.png);
    }
    background-repeat: no-repeat;
    background-size: 230px, 220px 485px;
    background-position: center 0, CENTER 105px;
  }
  &__text-head {
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-top: 220px;
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: $white;
  }
  &__text-body {
    width: 200px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    text-align: center;
    letter-spacing: 0.04em;
    color: $white;
    margin: 0 auto;
  }
}
.img {
  padding: 30px 0 40px 0;
  margin: 0 auto;
}
.dot {
  margin: 0 auto;
  padding: 30px 0;
}

.box {
  max-width: 480px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .products {
    max-width: 958px;
    width: 100%;
    margin: 0 auto;
    &__head {
      padding-top: 121px;
    }

    &__item1 {
      width: 100%;
      height: 620px;
      background-image: url(../images/Products/products-icecream_tablet@2x.png),
        url(../images/Products/Rectangle_icecrem.png);
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/Products/products-icecream_tablet@2x.png),
          url(../images/Products/Rectangle_icecrem.png);
        background-size: 230px, 220px 485px;
        background-position: center 0, CENTER 110px;
      }
    }
    &__item2 {
      width: 100%;
      height: 620px;
      background-image: url(../images/Products/products-coffee_tablet@1x.png),
        url(../images/Products/Rectangle_coffe.png);
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/Products/products-coffee_tablet@2x.png),
          url(../images/Products/Rectangle_coffe.png);
        background-size: 230px, 220px 485px;
      }
    }
    &__item3 {
      width: 100%;
      height: 620px;
      background-image: url(../images/Products/products-milkshake_tablet@1x.png),
        url(../images/Products/Rectangle_milkshake.png);
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/Products/products-milkshake_tablet@2x.png),
          url(../images/Products/Rectangle_milkshake.png);
        background-size: 230px, 220px 485px;
      }
    }
    .box {
      display: flex;
      flex-direction: row;
      max-width: 960px;
      gap: 20px;
      margin: 0 auto;
    }
    &__text-head {
      padding-top: 210px;
    }
    padding: 0 11px;
    &__text-body {
      width: 200px;
    }
  }
}
@media screen and (min-width: 1280px) {
  .products {
    margin: 0 auto;
    padding-top: 121px;
    padding-bottom: 98px;
    /* &__head {
      padding-top: 121px;
    } */
    &__text-head {
      padding: 290px 0 0 0;
    }
    &__text-body {
      width: 240px;
    }

    .box {
      display: flex;
      flex-direction: row;
      gap: 30px;
      margin: 0 auto;
    }
    &__item1 {
      width: 100%;
      background-image: url(../images/Products/products-icecream_desktop@1x.png),
        url(../images/Products/Rectangle_icecrem.png);
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/Products/products-icecream_desktop@2x.png),
          url(../images/Products/Rectangle_icecrem.png);
        background-size: 230px, 280px 485px;
        background-position: center 0, CENTER 103px;
      }
    }
    &__item2 {
      width: 100%;
      background-image: url(../images/Products/products-coffee_desktop@1x.png),
        url(../images/Products/Rectangle_coffe.png);
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/Products/products-coffee_desktop@2x.png),
          url(../images/Products/Rectangle_coffe.png);
        background-size: 230px, 280px 485px;
        background-position: center 0, CENTER 103px;
      }
    }
    &__item3 {
      width: 100%;
      background-image: url(../images/Products/products-milkshake_desktop@1x.png),
        url(../images/Products/Rectangle_milkshake.png);
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/Products/products-milkshake_desktop@2x.png),
          url(../images/Products/Rectangle_milkshake.png);
        background-size: 230px, 280px 485px;
        background-position: center 0, CENTER 103px;
      }
    }
    &__text-head {
      padding-top: 200px;
    }
  }
}
