.products {
  background-color: $white;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0;
  padding-bottom: 98px;

  &__head {
    display: flex;
    flex-direction: column;
    padding-bottom: 98px;
  }
  &--natural {
    padding-top: 21px;
    /*  display: flex; */
    justify-content: center;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    align-content: center;
    color: $pink;
    margin: 0;
  }
  &--offer {
    margin: 0;
    padding-top: 15px;
    justify-content: center;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $dark-pink;
  }

  &__item1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px black;
    margin: 0;
    width: 250px;
    height: 700px;
    background-image: url(../images/Products/products-icecream_mobile@1x.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 25px 0;
    /*  background-image: url(../images/Products/Rectangle_pink.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: 12px;
    background-position-y: 300px; */
  }
  &__item2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px black;
    /* background-color: $coffee; */
    margin: 144px 20px 0 20px;
    width: 250px;
    height: auto;
    /* border-radius: 24px; */
    background-image: url(../images/Products/products-coffee_mobile@1x.png);
    background-repeat: no-repeat;

    /* background-position: 200px; */
    /* background-position-y: 150px; */
  }
  &__item3 {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    /* background-color: $milkshake; */
    justify-content: center;
    margin: 144px 20px 98px 20px;
    width: 250px;
    height: auto;
    /* border-radius: 24px; */
    background-image: url(../images/Products/products-milkshake_mobile@1x.png);
    background-size: 249px 252px;
    background-repeat: no-repeat;
    /* background-position: 200px; */
    /* background-position-y: -150px; */
  }
  &__text-head {
    padding-top: 260px;
    display: flex;
    justify-content: center;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    color: red;
  }
  &__text-body {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    text-align: center;
    letter-spacing: 0.04em;
    padding: 10px 40px 0 40px;
    color: blue;
  }
}
