//--Kolory--//

$pink: #ffb8ca;
$dark-pink: #d41443;
$background-pink: #fff5f6;
$footer-pink: #ffa5ba;
$grey: #907e82;
$black: #000;
$white: #fff;
$coffee: #f0d1a5;
$milkshake: #c2e297;

//--Punkty przerwania--//

$tablet: 768px;
$desktop: 1200px;
