
<section class="about">
    
  <div class="about__h2-container">
<p class="about__label">tradition and love</p>
<h2 class="about__h2"> how it’s made? </h2>

</div>

 <picture class="about__cow-picture">

  <source media="(max-width: 767px)"
                    srcset=".\images\About\cow_and_milk_mobile@1x.png  1x,
                      .\images\About\cow_and_milk_mobile@2x.png 2x"
                    type="image/png" />
                 

  <source media="(max-width: 1199px)"
                    srcset=".\images\About\cow_and_milk_tablet@1x.png  1x,
                      .\images\About\cow_and_milk_tablet@2x.png 2x"
                    type="image/png" />

  <source media="(min-width: 1200px)"
                    srcset=".\images\About\cow_and_milk_desktop@1x.png  1x,
                      .\images\About\cow_and_milk_desktop@2x.png 2x"
                    type="image/png" />                  
                                    
<img class="about__cow-img"
                    src=".\images\About\cow_and_milk_mobile@1x.png"
                    alt="cow"
                  />
                  </picture>

                                  

<p class="about__p1">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>

<p class="about__p2">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.<br>
 
<br>Aliquam erat volutpat. Aenean accumsan.</br></p>

 <button type="button" class="about__button" data-modal-open>
            Read more<svg class="about__btn-icon" width="10" height="14">
          <use href="./images/icons.svg#icon-Vector-1"></use>
        </svg>
          </button>
</section>

   <!-- <link href="./about.scss" rel="stylesheet"/> -->