
<section class="about">
    <label class="about__label">tradition and love</label>
<h2 class="about__h2"> how it’s made?</h2>

 <!-- <picture>
<img src="./images/About/cow_and_milk_mobile@1x.jpg" alt="cow"> -->

  <img source media="(max-width: 767px)"
                    srcset=".\images\About\cow_and_milk_mobile@1x.jpg  1x,
                      .\images\About\milk_background_mobile@2x.jpg 2x"
                    type="image/jpg" />
                 

                  </picture>

                  <!-- <img
                    class="section-team__photo"
                    src="./images/img1.webp"
                    alt="John Doe"
                  />

 <source
                    media="(min-width: 768px)"
                    srcset="
                      ./images/team-webp/team1tablet.webp   1x,
                      ./images/team-webp/team1tablet@2.webp 2x
                    "
                    type="image/webp"
                  />


                  <source
                    media="(min-width: 1200px)"
                    srcset="
                    ./images/img1.webp                      1x,
                      ./images/team-webp/team1desktop@2.webp 2x
                    "
                    type="image/webp"
                  /> -->

                 
                
                



<p class="about__p1">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>

<p class="about__p2">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.

Aliquam erat volutpat. Aenean accumsan.</p>

 <button type="button" class="about__button" data-modal-open>
            Read more<svg width="4.43" height="8">
          <use href="#"></use>
        </svg>
          </button>
</section>

   <!-- <link href="./about.scss" rel="stylesheet"/> -->