<section class="advantages">
    <h2 class="advantages__main-header">Adventages</h2>

    <ul class="advantages__grid">

    <li class="advantages__grid-item">
    <h3 class="advantages__header-number">721</h3>
    <p class="advantages__paragraph">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>

    <li class="advantages__grid-item">
    <h3 class="advantages__header-number">16kg</h3>
    <p class="advantages__paragraph">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>

    <li class="advantages__grid-item">
    <h3 class="advantages__header-number">84</h2>
    <p class="advantages__paragraph">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
</ul>




</section>