<section class="advantages">
    <h2 class="advantages__h2">Adventages</h2>

    <ul class="advantages__grid">

    <li class="advantages__grid-item">
    <h3 class="advantages__h3">721</h3>
    <p class="advantages__p">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>

    <li class="advantages__grid-item">
    <h3 class="advantages__h3">16kg</h3>
    <p class="advantages__p">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>

    <li class="advantages__grid-item">
    <h3 class="advantages__h3">84</h2>
    <p class="advantages__p">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
</ul>



    <!-- <img src="./images/Advantages/icon1@1x.png" alt="test"> -->

</section>