<section class="advantages">
    <h2 class="advantages__h2">Adventages</h2>

    <div class="advantages__grid">

    <div class="advantages__grid-item">
     <svg width="33" height="50">
          <use href="#"></use>
          </svg>   
    <h3 class="advantages__h3">721</h3>
    <p class="advantages__p">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </div>

    <div class="advantages__grid-item">
         <svg width="50" height="50">
          <use href="#"></use>
          </svg>   
    <h3 class="advantages__h3">16kg</h3>
    <p class="advantages__p">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </div>

    <div class="advantages__grid-item">
         <svg width="44" height="50">
          <use href="#"></use>
          </svg>   
    <h3 class="advantages__h3">84</h2>
    <p class="advantages__p">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </div>
    </div>



    <!-- <img src="./images/Advantages/icon1@1x.png" alt="test"> -->

</section>