<body class="body">
  <section class="container-contacts--background">
    <div class="container">
    <div class="container-contacts">
      <h3 class="contacts-title">Contacts</h3>
    <ul class="contacts" style="list-style:none">
          <li class="contacts__item">
              <div class="contacts__cards">
                  <p class="contacts__cards-title contacts__cards-title--background-one">cafe</p>
                  <p class="contact__cards-bold-text">Chicago</p>
                  <p class="contacts__cards-content">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                  <div class="contacts__cards-border">
                  <p class="contact__cards-bold-text">Monday - Friday</p>
                  <p class="contact__cards-bold-text--color">06:00 AM - 10:00 PM</p>
                  <p class="contact__cards-bold-text">Saturday - Sunday</p>
                  <p class="contact__cards-bold-text--color contact__cards-bold-text--color-margin">08:00 AM - 16:00 PM</p>
                  </div>
                    <a class="contact__cards-contacts" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    <a class="contact__cards-contacts" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
              </li>
              <li class="contacts__item">
                <div class="contacts__cards">
                    <p class="contacts__cards-title contacts__cards-title--background-two">foodtruck</p>
                    <p class="contact__cards-bold-text">Los Angeles</p>
                    <p class="contacts__cards-content">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <div class="contacts__cards-border">
                    <p class="contact__cards-bold-text">Monday - Friday</p>
                    <p class="contact__cards-bold-text--color">06:00 AM - 10:00 PM</p>
                    <p class="contact__cards-bold-text contact__cards-bold-text--margin">Saturday - Sunday</p>
                    <p class="contact__cards-bold-text--color contact__cards-bold-text--color-margin">08:00 AM - 16:00 PM</p>
                    </div>
                      <a class="contact__cards-contacts" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                      <a class="contact__cards-contacts contact__cards-contacts--margin" href="mailto:noreply@envato.com">noreply@envato.com</a>
                  </div>
                </li>
                <li class="contacts__item">
                  <div class="contacts__cards">
                      <p class="contacts__cards-title contacts__cards-title--background-one">cafe</p>
                      <p class="contact__cards-bold-text">New York</p>
                      <p class="contacts__cards-content">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                      <div class="contacts__cards-border">
                      <p class="contact__cards-bold-text">Monday - Friday</p>
                      <p class="contact__cards-bold-text--color">06:00 AM - 10:00 PM</p>
                      <p class="contact__cards-bold-text contact__cards-bold-text--margin">Saturday - Sunday</p>
                      <p class="contact__cards-bold-text--color contact__cards-bold-text--color-margin">08:00 AM - 16:00 PM</p>
                      </div>
                        <a class="contact__cards-contacts" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        <a class="contact__cards-contacts contact__cards-contacts--margin" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </div>
                  </li>
      </ul>
      <ul class="contacts__buttons" style="list-style:none">
        <li>
        <button class="contacts__buttons-one" type="button">Our Locations
          <svg class="contacts__buttons-vector-one">
            <use href="./images/icons.svg#icon-Vector-1"></use>
          </svg>
        </button>
        </li>
        <li>
        <button class="contacts__buttons-two" type="button">Franchise
          <svg class="contacts__buttons-vector-two">
            <use href="./images/icons.svg#icon-Vector-1"></use>
          </svg>
        </button>
        </li>
      </ul>
      </div>
  </div>
</section>
</body>