<footer class="footer">
    <div>
        <span class="footer__title">HOMMADE ICE CREAM MADE</span><span
            class="footer__title footer__title--passion">WITH
            PASSION</span>
    </div>
    <div class=footer__social-links>
        <ul class="footer__social-list">
            <li class="footer__social-grid">
                <a class="footer__social-link" href="#">
                    <svg width="20" height="20">
                        <use href="images/icons.svg#icon-github">
                        </use>
                    </svg>
                </a>
            </li>
            <li class="footer__social-grid">
                <a class="footer__social-link" href="#">
                    <svg width="32" height="32">
                        <use href="images/icons.svg#icon-telegram">
                        </use>
                    </svg>
                </a>
            </li>

            <li class="footer__social-grid">
                <a class="footer__social-link" href="#">
                    <svg width="32" height="32">
                        <use href="images/icons.svg#icon-facebook">
                        </use>
                    </svg>
                </a>
            </li>
                    </ul>

    </div>

</footer>