<footer class="footer">
    <div class="footer__tite">
        <span class="footer__title1">HOMMADE ICE CREAM MADE</span><span
            class="footer__title2">WITH
            PASSION</span>
    </div>
    <div class=footer__social-links>
        <a class="footer__social-link" href="https://github.com/">
            <img width="32" height="32" href="../images/Footer/github.svg">
            </img>
        </a>


        <a class="footer__social-link" href="https://telegram.org/">
            <img width="32" height="32" href="../images/Footer/telegram.svg">
            </img>
        </a>


        <a class="footer__social-link" href="https://wwww.facebook.com/">
            <img width="32" height="32" href="../images/Footer/facebook.svg">
            </img>
        </a>
    </div>
    <div class="footer__tel">
        <span>Feel free to contact</span><a href="+61 (0) 383 766 284">+61
            (0)
            383 766 284</a>

    </div>
    <div class="footer__last">
        <span class="footer__last-element">© 2019 - IceCream.</span>
        <span class="footer__last-element"> All Rights Reserved.</span>


    </div>


    </div>




</footer>