<footer class="footer">
    <div class="footer__conteiner">
        <div class="footer__tite">
            <span class="footer__title1">HOMMADE ICE CREAM MADE</span><span
                class="footer__title2">WITH
                PASSION</span>
        </div>
        <div class="footer__right-side">
            <div class=footer__social-links>
                <div class="footer__social-link">
                    <a href="https://github.com/">
                        <svg width="18.82" height="18.82">
                            <use
                                href="./images/Footer/icons_footer.svg#icon-github_vector">
                            </use>
                        </svg>

                    </a>
                </div>
                <div class="footer__social-link">
                    <a href="https://telegram.org/">
                        <svg width="22" height="19">
                            <use
                                href="./images/Footer/icons_footer.svg#icon-telegram_vector">
                            </use>
                        </svg>

                    </a>
                </div>
                <div class="footer__social-link">
                    <a href="https://wwww.facebook.com/">
                        <svg width="9.8" height="19.2">
                            <use
                                href="./images/Footer/icons_footer.svg#icon-facebook_vector">
                            </use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="footer__tel">
                <span class="footer__tel-contact">Feel free to contact</span><a
                    class="footer__tel-number"
                    href="tel:+61 (0) 383 766 284">+61
                    (0)
                    383 766 284</a>

            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <div class="footer__copyright-box">
            <span class="footer__copyright-element1">© 2019 -
                IceCream.</span>
            <span class="footer__copyright-element2"> All Rights
                Reserved.</span>
        </div>
    </div>

</footer>