<section class="gallery">
  <div class="gallery__wrapper">
    <img
      class="gallery__image"
      src="./images/Gallery/gallery_mobile@1x.png"
      srcset="
        ./images/Gallery/gallery_mobile@1x.webp   320w,
        ./images/Gallery/gallery_mobile@2x.webp   640w,
        ./images/Gallery/gallery_tablet@1x.webp   768w,
        ./images/Gallery/gallery_tablet@2x.webp  1536w,
        ./images/Gallery/gallery_desktop@1x.webp 1280w,
        ./images/Gallery/gallery_desktop@2x.webp 2560w
      "
      sizes="(min-width: 1280px) 1280px, (min-width: 768px) 768px, (min-width: 320px) 320px, 100vw"
    />
  </div>
</section>
