<section class="gallery">
    <div class="gallery__wrapper">
        <img class="gallery__image" srcset="
                  ./images/Gallery/gallery_mobile@1x.png      450w,
                  ./images/Gallery/gallery_mobile@2x.png      450w,
                  ./images/Gallery/gallery_tablet@1x.png      354w,
                  ./images/Gallery/gallery_tablet@2x.png      354w,
                  ./images/Gallery/gallery_desktop@1x.png     270w,
                  ./images/Gallery/gallery_desktop@2x.png     270w
                " sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, (min-width: 480px) 450px, 100vw" />
    </div>
</section>