<section class="gallery">
    <div class="gallery__wraper">
        <img class="gallery__img" srcset="
                  ./images/gallery_mobile@1x.png           450w,
                  ./images/gallery_mobile@2x.png         450w,
                  ./images/gallery_tablet@1x.png     354w,
                  ./images/gallery_tablet@2x.png    354w,
                  ./images/gallery_desktop@1x.png    270w,
                  ./images/gallery_desktop@2x.png        270w
                " sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, (min-width: 480px) 450px, 100vw" />
    </div>
</section>