<header class="header">
  <header class="header">
    <div class="header__container container">
      <div class="header__logo">
        <img
          class="header__logo-image"
          src="./images/logo 1.png"
          alt="logo-icecream"
          width="199px"
          height="50px"
        />
      </div>
      <nav class="header__nav-container">
        <ul class="header__navigation-list">
          <li>Home</li>
          <li>About us</li>
          <li>How it's made?</li>
          <li>Our products</li>
          <li>Contact</li>
        </ul>
      </nav>
      <button class="header__button" type="button">Buy now</button>
      <button class="header__button-mobile-menu" data-menu-open>
        <svg width="20" height="12" fill="currentColor">
          <use href="../images/icons.svg#icon-Burger"></use>
        </svg>
      </button>
    </div>
  </header>
</header>
