
<section >
    <div >
      <div class="header__container">
      <div class="header__logo-container">
        <svg class="header__logo" width="50" height="50">
          <use href="./images/Hero/logo 1.svg#image0_5_517"></use>
        </svg>
        <p class="header__logo-text">icecream</p>
      </div>        
      <nav class="header__nav-container">
        <ul class="header__navigation-list">
          <li>Home</li>
          <li>About us</li>
          <li>How it's made?</li>
          <li>Our products</li>
          <li>Contact</li>
        </ul>
      </nav>
      <button class="header__button" type="button">Buy now</button>
      <button class="header__button-mobile-menu" data-menu-open>
        <svg class="header__icon-mobile-menu" width="20" height="12" fill="currentColor">
          <use href="./images/icons.svg#icon-Burger"></use>
        </svg>
      </button>
    </div>
    </div>
</section>
