<section class="section section--pink">
  <div class="container container--pink-header">
    <div class="hero">
      <div class="hero__header">
        <h1 class="hero__title">
          ice cream made with <span class="hero__title--big-red">passion</span>
        </h1>
        <a href="#" class="hero__link" target="_self">Products</a>
        <a href="#" class="hero__link hero__link--white" target="_self">How it’s made?</a>
        <!-- <button class="hero__button" type="button">Products</button>
        <button class="hero__button hero__button--white" type="button">How it’s made?</button> -->
      </div>
      <div class="hero__footer">
        <img
          class="hero__img"
          src="./images/Hero/hero-milk_tablet@1x.png"
          alt="Bottle of milk"
          srcset="
            ./images/Hero/hero-milk_tablet@1x.png  124w,
            ./images/Hero/hero-milk_tablet@2x.png  248w,
            ./images/Hero/hero-milk_desktop@1x.png 188w,
            ./images/Hero/hero-milk_desktop@2x.png 376w
          "
          sizes="(min-width: 1280px) 188px, (min-width: 768px) 124px"
        />
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
      </div>
    </div>
    <div class="hero-foto">
      <img
        class="hero-foto__img"
        src="./images/Hero/hero-icecream_mobile@1x.png"
        alt="Icecream photo"
        srcset="
          ./images/Hero/hero-icecream_mobile@1x.png  171w,
          ./images/Hero/hero-icecream_mobile@2x.png  342w,
          ./images/Hero/hero-icecream_tablet@1x.png  143w,
          ./images/Hero/hero-icecream_tablet@2x.png  286w,
          ./images/Hero/hero-icecream_desktop@1x.png 236w,
          ./images/Hero/hero-icecream_desktop@2x.png 472w
        "
        sizes="(min-width: 1280px) 236px, (min-width: 768px) 143px, (max-width: 767px) 171px"
      />
      <img
        class="hero-foto__img hero-foto__img--background"
        src="./images/Hero/hero-ellipse_mobile@1x.png"
        alt="Circle in the background"
        srcset="
          ./images/Hero/hero-ellipse_mobile@1x.png   284w,
          ./images/Hero/hero-ellipse_mobile@2x.png   568w,
          ./images/Hero/hero-ellipse_tablet@1x.png   324w,
          ./images/Hero/hero-ellipse_tablet@2x.png   648w,
          ./images/Hero/hero-ellipse_desktop@1x.png  538w,
          ./images/Hero/hero-ellipse_desktop@2x.png 1076w
        "
        sizes="(min-width: 1280px) 538px, (min-width: 768px) 324px, (max-width: 767px) 284px"
      />
    </div>
    <div class="hero-aside">
      <ul class="hero-aside__list">
        <li class="hero-aside__item">
          <p class="hero-aside__text">16</p>
          <p class="hero-aside__text hero-aside__text--small">cafes</p>
        </li>
        <li class="hero-aside__item hero-aside__item--secondary">
          <p class="hero-aside__text">23</p>
          <p class="hero-aside__text hero-aside__text--small">food trucks</p>
        </li>
      </ul>
      <img
        class="hero-aside__img"
        src="./images/Hero/ice-cream-girl_tablet@1x.png"
        alt="Girl with ice cream"
        srcset="
          ./images/Hero/ice-cream-girl_tablet@1x.png  168w,
          ./images/Hero/ice-cream-girl_tablet@2x.png  336w,
          ./images/Hero/ice-cream-girl_desktop@1x.png 293w,
          ./images/Hero/ice-cream-girl_desktop@2x.png 586w
        "
        sizes="(min-width: 1280px) 293px, (min-width: 768px) 168px"
      />
    </div>
  </div>
</section>
