<section class="section section--pink">
  <div class="container container--pink-header">
    <div class="hero">
      <div class="hero__nav">
        <h1 class="hero__title">
          ice cream made with <span class="hero__title--big-red">passion</span>
        </h1>
        <!-- <a href="#" class="hero__link" target="_self">Products</a>
        <a href="#" class="hero__link hero__link--white" target="_self">How it’s made?</a> -->
        <button class="hero__button" type="button">Products</button>
        <button class="hero__button hero__button--white" type="button">How it’s made?</button>
      </div>
      <div>
        <img
          class="hero__img"
          src="./images/Hero/hero-icecream_mobile@1x.png"
          alt="Icecream photo"
        />
        <img
          class="hero__background"
          src="./images/Hero/hero-ellipse_mobile@1x.png"
          alt="Circle in the background"
        />
      </div>
    </div>
  </div>
</section>
