<section class="section" id="products">
  <div class="container">
    <div class="products">
      <div class="products__head">
        <h3 class="products--natural">100% natural</h3>
        <h2 class="products--offer">products</h2>
      </div>
      <div class="products__item1">
        <span class="products__text-head"> ICE CREAM </span>
        <!-- <img src="../images/Products/" alt="kropka" > -->
        <p class="products__text-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <!-- <img src="../images/Products/arrow-right 1.png" alt="arrow" width="40" heigth="40" align-item="center" top="400"> -->
      </div>
      <div class="products__item2">
        <span class="products__text-head"> ICE CREAM </span>
        <p class="products__text-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
      </div>
      <div class="products__item3">
        <span class="products__text-head"> ICE CREAM </span>

        <p class="products__text-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <!-- <img src="../images/Products/arrow-right1.png" alt="arrow" /> -->
      </div>
    </div>
  </div>
</section>
