<section class="section">
  <div class="container-products">
    <div class="products">
      <div class="products__head">
        <h3 class="products--natural">100% natural</h3>
        <h2 id="products" class="products--offer">products</h2>
      </div>
      <ul class="products__box">
        <li class="products__item1">
          <span class="products__text-head"> ICE CREAM </span>
          <img class="products--dot" src="./images/Products/3dots.svg" alt="dot" width="30" />
          <p class="products__text-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <a href="#" class="products--img"> <img src="./images/Products/arrow-right 1.png" width="40" /></a>
        </li>
        <li class="products__item2">
          <span class="products__text-head"> ICE CREAM </span>
          <img class="products--dot" src="./images/Products/3dots.svg" alt="dot" width="30" />
          <p class="products__text-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <a href="#" class="products--img"> <img src="./images/Products/arrow-right 1.png" width="40" /></a>
        </li>
        <li class="products__item3">
          <span class="products__text-head"> ICE CREAM </span>
          <img class="products--dot" src="./images/Products/3dots.svg" alt="dot" width="30" />
          <p class="products__text-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <a href="#" class="products--img"> <img src="./images/Products/arrow-right 1.png" width="40" /></a>
        </li>
      </ul>
    </div>
  </div>
</section>