<section class="review">
  <div class="review-conteiner container">
    <div class="review-collage"></div>
    <div class="slider">
      <div class="slide">
        <div class="#">
          <div class="">
            <picture class="review-photo">
              <source
                media="(max-width: 767px)"
                srcset=".\images\Review\avatar@1x.jpg 1x, .\images\Review\avatar@2x.jpg 2x"
                type="image/jpg"
              />

              <source
                media="(max-width: 1199px)"
                srcset=".\images\Review\avatar@1x.jpg 1x, .\images\Review\avatar@2x.jpg 2x"
                type="image/jpg"
              />

              <source
                media="(min-width: 1200px)"
                srcset=".\images\Review\avatar@1x.jpg 1x, .\images\Review\avatar@2x.jpg 2x"
                type="image/jpg"
              />

              <img class="photo" src=".\images\Review\avatar@1x.jpg" alt="avatar" />
            </picture>
          </div>
          <div class="review-text">
            <p class="review-description">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
            <div class="gradientBox">
              <div class="gradient"></div>
            </div>
          </div>
          <div class="review-home">
            <ul class="home-points">
              <li class="points"></li>
              <li class="points"></li>
              <li class="points"></li>
            </ul>
            <h3 class="review-address">Emily, Los Angeles</h3>
            <!-- <ul class="address-points">
              <li class="review-icon">
                <svg class="icon" width="12" height="12">
                  <use href="./images/review/sprite.svg#icon-home"></use>
                </svg>
              </li>
              <li class="review-icon"></li>
              <li class="review-icon"></li>
            </ul> -->
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="#">
          <div class="">
            <picture class="review-photo">
              <source
                media="(max-width: 767px)"
                srcset=".\images\Review\avatar@1x.jpg 1x, .\images\Review\avatar@2x.jpg 2x"
                type="image/jpg"
              />

              <source
                media="(max-width: 1199px)"
                srcset=".\images\Review\avatar@1x.jpg 1x, .\images\Review\avatar@2x.jpg 2x"
                type="image/jpg"
              />

              <source
                media="(min-width: 1200px)"
                srcset=".\images\Review\avatar@1x.jpg 1x, .\images\Review\avatar@2x.jpg 2x"
                type="image/jpg"
              />

              <img class="photo" src=".\images\Review\avatar@1x.jpg" alt="avatar" />
            </picture>
          </div>
          <div class="review-text">
            <p class="review-description">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
            <div class="gradientBox">
              <div class="gradient"></div>
            </div>
          </div>
          <div class="review-home">
            <ul class="home-points">
              <li class="points"></li>
              <li class="points"></li>
              <li class="points"></li>
            </ul>
            <h3 class="review-address">Lucy, New York</h3>
            <!-- <ul class="address-points">
                  <li class="review-icon">
                    <svg class="icon" width="12" height="12">
                      <use href="./images/review/sprite.svg#icon-home"></use>
                    </svg>
                  </li>
                  <li class="review-icon"></li>
                  <li class="review-icon"></li>
                </ul> -->
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="#">
          <div class="">
            <picture class="review-photo">
              <source
                media="(max-width: 767px)"
                srcset=".\images\Review\avatar@1x.jpg 1x, .\images\Review\avatar@2x.jpg 2x"
                type="image/jpg"
              />

              <source
                media="(max-width: 1199px)"
                srcset=".\images\Review\avatar@1x.jpg 1x, .\images\Review\avatar@2x.jpg 2x"
                type="image/jpg"
              />

              <source
                media="(min-width: 1200px)"
                srcset=".\images\Review\avatar@1x.jpg 1x, .\images\Review\avatar@2x.jpg 2x"
                type="image/jpg"
              />

              <img class="photo" src=".\images\Review\avatar@1x.jpg" alt="avatar" />
            </picture>
          </div>
          <div class="review-text">
            <p class="review-description">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
            <div class="gradientBox">
              <div class="gradient"></div>
            </div>
          </div>
          <div class="review-home">
            <ul class="home-points">
              <li class="points"></li>
              <li class="points"></li>
              <li class="points"></li>
            </ul>
            <h3 class="review-address">Vanda, Boston</h3>
            <!-- <ul class="address-points">
                  <li class="review-icon">
                    <svg class="icon" width="12" height="12">
                      <use href="./images/review/sprite.svg#icon-home"></use>
                    </svg>
                  </li>
                  <li class="review-icon"></li>
                  <li class="review-icon"></li>
                </ul> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
